---
import Layout from "../layouts/Layout.astro";
import LoginForm from "../components/features/LoginForm";
---

<Layout title="Iniciar sesión - Sistema de Reservas">
  <div class="container mx-auto px-4 py-12 max-w-md">
    <h1 class="text-3xl font-bold md-8 text-center">Iniciar sesión</h1>
    <LoginForm client:load />
    <div>
      <p>
        ¿No tienes una cuenta? <a
          href="/register"
          class="text-indigo-600 hover:underline">Regístrate</a>
      </p>
    </div>
  </div>
</Layout>
