---
import Layout from "../../layouts/Layout.astro";
import AppointmentList from "../../components/features/AppointmentList";
import { api } from "../../utils/api";

let appointments = [];

try {
  const response = await api.getAppointments();
  appointments = await response.json();
} catch (error) {
  console.error(error);
}
---

<Layout title="Mis citas">
  <div class="container mx-auto py-4 py-8">
    <h1 class="text-2xl font-bold mb-4">Mis citas</h1>
    <AppointmentList client:load appointments={appointments} />
  </div>
</Layout>
